/* global style */

html, body {
    height: 100vh;
}

/* style for cover */

.cover-container {
    max-width: 52em;
}

/* style for buttons */

.btn-secondary {
    color: #000;
}
.btn-secondary:hover {
    color: #000;
}

