/* style for <main> */

.main-test {
    border-radius: 10px;
    text-align: start!important;
    color: #202428;
}

/* other styles */

.cover-container {
    max-width: 64em!important;
}

.question {
    margin-bottom: 56px!important;
}
label {
    cursor: pointer;
}
